<div class="wrapper">

  <div class="footer-menu">
    <div class="follow">
      <div class="menuLinks">
        <h2>Follow</h2>
        <a target="_blank" href="https://www.facebook.com/Jon-Michaelis-111654313870940/">
          <img src="./assets/facebook-num1.png" alt="jon michaelis">/Jon-Michaelis</a>

        <a target="_blank" href="https://www.instagram.com/jonmichaelis5/">
          <img src="./assets/instagram-num1.png" alt="jon michaelis">/jonmichaelis5</a>
      </div>
    </div>
    <div>
      <div class="menuLinks">
        <h2>Contact</h2>
        <span>Email: info@fortegallery.com</span>
        <span>Tel: +972 (0)53 477 0004</span>
        <a routerLink="/contact">Contact Us</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="copyrights" *ngIf="yr">
    &nbsp;&copy; {{ yr }},
    <a href="/">Jon Michaelis</a>,
    Developed by <a href="https://davidelyosef.firebaseapp.com/" target="_blank">David-el Yosef</a> & Daphne Levy
  </div>

</div>
