#logo {
  height: 10vh;
  cursor: pointer;
  position: relative;

  h1 {
    transform: translate(0, 10px);
    display: inline-block;
    padding-left: 19px;
    font-family: OurStory;
  }

  .menu {
    float: right;
    right: 19px;
    font-size: 25px;
    height: 100%;

    div {
      display: inline-block;
      height: 100%;
      margin-top: -13px;
      cursor: pointer;

      &:hover {
        background-color: lightgray;
      }

      a {
        margin: 10px;
        color: #000;
        text-transform: uppercase;
        font-family: OurStory;
        display: inline-block;
        margin-top: 45%;
        transform: translateY(-50%);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.containerBg {
  background-image: url(../../../assets/splash-bg.jpg);
  height: 63vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
