.wrapper {
  margin-top: 50px;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 102, 32, 0.5);

  h1 {
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
  }

  #aboutDiv {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;

    #imageDiv {
      width: 60%;
      margin: auto;

      img {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 3px;
        cursor: pointer;
      }
    }

    h3 {
      margin-top: 30px;
      font-size: 18px;
      text-align: justify;
      line-height: 1.5;
    }
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    margin-top: 37px;
    h1 {
      font-size: 30px;
    }

    #aboutDiv {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;

      #imageDiv{
        width:100%;
      }
      h3 {
        margin-top: 20px;
        font-size: 17px;
      }
    }
  }
}
