<div class="img-modal" #artworkModal>

    <div class="contain">

        <img src="/assets/paintings/Felix-2017-Mixed-media-60x60-cm-9000-nis.jpg" alt='Jon Michaelis' loading=lazy>
        <!-- <h2>name:{{painting.name}} material:{{painting.material}} size:{{painting.size}} year:{{painting.year}} id:{{painting.id}}</h2> -->

    </div>

    <button (click)="closeModal()" id="close" title="close" autofocus>&#10006;</button>

</div>


<div class="wrapper">
    <h1>About Jon Michaelis</h1>


    <div id="aboutDiv">
        <h3>
            Jon Michaelis is an interdisciplinary artist working with mixed media; ranging from experimental techniques
            and materials, such as enamel on glass, to combining modern photography, illustration and painting.<br><br> Michalis
            is constantly evolving. His artwork examines gender, femininity, fantasy, the body, cultural icons, notions
            of other, socialization and isolation. He uses a mashup of techniques and lively colors to correlate his
            personal reception with historical narratives, mass media and pop culture. All of which results into a
            vibrant turmoil of warm colors and nostalgy.
        </h3>
        <div id="imageDiv">
            <img src="/assets/paintings/Felix-2017-Mixed-media-60x60-cm-9000-nis.jpg" alt="" id="about-image" (click)="openModal()">
        </div>
       
    </div>

</div>